@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
    --menuBG: #252830;
    --fuenteParrafos: 'Poppins', sans-serif;
    --fuenteTitulos: 'Heebo', sans-serif;
}

body {
    font-family: var(--fuenteParrafos);
    color: var(--menuBG);
    padding: 0;
    margin: 0;
}



.Pagina {
    display: grid;
    grid-template-areas:
    "menu"
    "presentacion"
    "explicacion"
    "analizador";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.menu {
    background-color: var(--menuBG);
    display: grid;
    grid-area: menu;
}

.presentacion {
    /*background-color: aliceblue;*/
    display: grid;
    grid-area: presentacion;
    padding: 0px 100px 0px 100px;
}

.explicacion{
    /*background-color:aquamarine;*/
    display: grid;
    grid-area:explicacion;
}

.analizador{
    /*background-color: bisque;*/
    display: grid;
    grid-area: analizador;
    background-color: var(--menuBG);
    padding: 0px 100px 50px 100px;
}

.menu-navegacion__contenido {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 80px;
    align-items: center;
    text-align: center;
}

.menu-navegacion__item {
    padding-left: 15px;
    text-align: center;
}

.menu-navegacion__item a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0px 10px 5px 10px;
}

.menu-navegacion__item a:hover {
    border-bottom: 2px solid #000;
}

.presentacion__contenedor{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
}

.presentacion__titulo{
    font-size: 6vh;
}

.presentacion__descripcion{
    font-size: 2vh;
}

.imagenCompilador{
    height: 400px;
}

.explicacion__fases_compilador{
    display: grid;
    grid-template-areas: 
    "fase1 fase2 fase3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}

.analizador_lexico{
    grid-area: fase1;
}

.analizador_sintactico{
    grid-area: fase2;
}

.analizador_semantico{
    grid-area: fase3;
}

.analizador__contenido {
    display: grid;
    grid-template-areas:
    "titulo_analizador titulo_analizador_lexico titulo_analizador_sintactico"
    "entrada_texto resultado_lexico resultado_sintactico";
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 20px;
}

.analizador__contenido_analizador_titulo{
    display: grid;
    grid-area: titulo_analizador;
}

.analizador__contenido_analizador_lexico_titulo{
    display: grid;
    grid-area: titulo_analizador_lexico;
}

.analizador__contenido_analizador_sintactico_titulo{
    display: grid;
    grid-area: titulo_analizador_sintactico;
}

.analizador__contenido_analizador_entrada{
    display: grid;
    grid-area: entrada_texto;
}

.analizador__contenido-resultado_analizador_Lexico{
    display: grid;
    grid-area: resultado_lexico;
    border: 2px solid black;
}

.analizador__contenido-resultado_analizador_sintactico{
    display: grid;
    grid-area: resultado_sintactico;
    border: 2px solid black;
}

textarea{
    height: 40vh;
    border: none;
    cursor: default;
    background-color: #263238;
    font-size: 30px;
    color: white;
    font-family: monospace;
    resize: none;
}

textarea:focus{
    outline: none;
}

.datos_info{
    height: 20px;
}

.text-body-1{
    font-size: 20px;
}
.linea{
    font-weight: bold;
    text-align: center;
}
/*
.analizador__contenido-titulo_analizador{
    grid-area: titulo_analizador;
    padding: 0;
}

.analizador__contenido-titulo_token{
    display: grid;
    grid-area: titulo_token;
}

.analizador__contenido-entrada_texto{
    display: grid;
    grid-area: entrada_texto;
}

.analizador__contenido-resultado_token{
    display: grid;
    grid-area: resultado_token;
    background-color: aquamarine;
}

.analizador__contenido-tabla_resultados{
    display: grid;
    grid-area: tabla_resultados;
}

.resultado_token{
    border-width: 1px;
    border-color: #252830;
}

.contenedor_denose{
    padding-left: 50px;
    text-align: start;
}

.tabla_resultados{
    font-size: 25px;
}

*/